{% extends 'main.html' %}
{% load static %}

{% block title %}
Lecturers
{% endblock %}

{% block content %}
    <div class="alllecturers">
        
        <div class="all">
            <h2>all lecturers</h2>
            <hr width="10%">
            <div class="alllecturersgrid">
                {% for dept in departments %}
                    <div class="lectdept">
                        <div class="deptdeep">
                            <a href="/select/{{dept.college}}/{{dept.name}}/{{dept.max_yg}}">
                                <p>{{dept.name}} {{dept.college}}</p>
                            </a>
                            <form>
                                {% csrf_token %}
                                <button title="Delete Department" type="submit" id="deletedepartment" formmethod="post" formaction="/deletedepartment/{{dept.id}}">
                                    <img src="{% static 'trash-can.png' %}" width="20px" height="20px" />
                                </button>
                            </form>
                        </div>
                        <ul>
                            {% for lecturer in lecturers %}
                                {% if lecturer.department_id == dept.id %}
                                    <li>
                                        <a href="/modifylecturer/{{lecturer.id}}" title="Edit Lecturer Details">
                                            {{lecturer.other_names}} {{lecturer.surname}}
                                        </a>
                                        <form>
                                            {% csrf_token %}
                                            <button title="Delete This Lecturer" type="submit" id="deletelect" formmethod="post" formaction="/deletelecturer/{{lecturer.id}}">
                                                &times;
                                            </button>
                                        </form>
                                    </li>
                                    <hr width="90%">
                                {% endif %}
                            {% endfor %} 
                        </ul>
                        <a href="/createLecturer" target="_blank">
                            <button type="button" title="Add a new Lecturer for this department">Add</button>
                        </a>
                    </div>
                {% endfor %}
                <div class="addbtn">
                    <a href="/createDepartment" target="_blank">
                        <button type="button" id="adddept" title="Add a new Department">
                            &plus;
                        </button>
                    </a>
                </div>
            </div>            
        </div>
        
        <div class="rightnav">
            <div class="rightsubnav">
                {% for department in departments %}
                <div class="departments" id="dept{% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" "13" "14" "15" "16" "17" "18" "19" "20" "21" "22" "23" %}">
                    <a href="/select/{{department.college}}/{{department.name}}/{{department.max_yg}}">
                        {{department.name}}
                    </a>
                </div>
            {% endfor %}
            </div>          
        </div>
    </div>
{% endblock %}