{% extends 'main.html' %}

{% block title %}
Add a Lecturer
{% endblock %}

{% block content %}
<div class="createlecturer">
    <h2>Add a lecturer</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="surname">surname</label>
            <input type="text" name="surname" id="surname" autocomplete="additional-name" required>
        </div>
        <div>
            <label for="other_names">other names</label>
            <input type="text" name="other_names" id="other_names" required autocomplete="additional-name">
        </div>
        <div>
            <label for="department">department</label>
            <select name="department" id="department" required>
                <option value="">Any</option>
                {% for x in departments %}
                <option value="{{ x.id }}">{{ x.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="telephone">Phone Number</label>
            <input type="text" name="telephone" id="telephone">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <input type="submit" id="createlectbtn" value="submit">
        </div>
    </form>
</div>
{% endblock %}