{% extends 'main.html' %}

{% block title %}
Create Course
{% endblock %}

{% block content %}
<div class="createcourse">
    <form method="post">
        {% csrf_token %}
        <h3>Create a course</h3>
        <div>
            <label for="code">code:</label>
            <input type="text" name="code" id="code" required autofocus>
        </div>
        <div>
            <label for="name">name:</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="lecturer">lecturer:</label>
            <select name="lecturer" id="lecturer" required>
                <option value="">Any</option>
                {% for x in lecturer %}
                <option value="{{ x.id }}">{{ x.other_names }} {{ x.surname }}</option>
                {% endfor %}
            </select>
            <a href="/{{email}}/createLecturer" target="#"><button type="button" id="createlectbtn">Add a Lecturer</button></a>
        </div>
        <div>
            <label for="department">department:</label>
            <select name="department" id="department" required>
                <option value="{{department.id}}">{{department.name}}</option>
                {% for x in departments %}
                <option value="{{ x.id }}">{{ x.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="hours">credit hours:</label>
            <input type="number" name="hours" min="1" max="10" id="hours" required>
        </div>
        <div>
            <label for="has_labs">has lab sessions:</label>
            <input type="checkbox" value="True" name="has_labs" id="has_labs">
        </div>
        <div>
            <label for="is_lab_only">course is lab only:</label>
            <input type="checkbox" value="True" name="is_lab_only" id="is_lab_only">
        </div>
        <div>
            <label for="lab_hours">laboratory hours:</label>
            <input id="lab_hours" type="number" value="0" min="0" max="10" name="lab_hours" required>
        </div>
        <div>
            <label for="is_contiguous_lab_time">labs need to be contiguous:</label>
            <input type="checkbox" name="is_contiguous_lab_time" id="is_contiguous_lab_time" value="True">
        </div>
        <div>
            <label for="year_group">year group:</label>
            <input id="year_group" type="number" value="{{year_group}}" min="1" max="10" name="year_group" required>
        </div>
        <div>
            <label for="estimated_class_size">Estimated class size:</label>
            <input id="estimated_class_size" type="number" min="1" max="1000" required name="estimated_class_size">
        </div>
        <div>
            <button type="submit" id="createcoursebtn">Submit</button>
        </div>
    </form>
</div>
{% endblock %}