{% extends 'main.html' %}

{% block title %}
Create Department
{% endblock %}

{% block content %}
<div class="createDepartment">
    <form method="post">
        {% csrf_token %}
        <h3>Create a department</h3>
        <table>
            <tr>
                <td><label for="name">name</label></td>
                <td><input type="text" id="name" name="name" required autocapitalize="on"></td>
            </tr>
            <tr>
                <td><label for="college">college</label></td>
                <td><input type="text" name="college" id="college" autocapitalize="on"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="createdeptbtn" value="submit">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}