{% extends 'main.html' %}

{% block title %}
College Settings
{% endblock %}

{% block content %}
<div class="edit-college">
    <form method="post" action="{% url 'editcollege' email college.id %}">
        {% csrf_token %}
        <h3>{{college.name}} settings</h3>
        <div>
            <label for="name">name of college</label>
            <input type="text" name="name" value="{{college.name}}" id="college" required><br>
        </div>
        <!-- <div>
            <input type="number" min="1" name="count" placeholder="number of departments for this college" id="depmntCount" max="20" required><br>
        </div> -->
        <div>
            <label for="rows">Number of timetable rows per day</label>
            <input type="number" min="1" value="{{college.rows_per_day}}" max="15" name="rows" required>
        </div>
        <div>
            <label for="days">Days per week</label>
            <input type="number" value="{{college.days_per_week}}" min="1" max="7" name="days" required>
        </div>
        <div>
            <label for="examdays">Number of days for exam</label>
            <input type="number" value="{{college.exam_days}}" min="1" max="50" name="exam_days" required>
        </div>
        <div id="edit-college-btns">
            <!-- <button type="button" name="cancel-college" onclick="unallo()" id="new-college">
                cancel
            </button> -->
            <button type="submit" id="createcollegebtn" onclick="">Continue</button>     
        </div>
        
    </form>
</div>
{% endblock %}