{% extends 'main.html' %}

{% load static %}

{% block title %}
Edit Course
{% endblock %}


{% block content %}
<div class="editCourse">
    <form method="post">
        {% csrf_token %}
        <h3>{{course.code}} settings</h3>
        <div>
            <label for="code">code:</label></td>
            <input type="text" value="{{course.code}}" name="code" id="code" placeholder="{{course.code}}">
        </div>
        <div>
            <label for="name">name:</label>
            <input type="text" value="{{course.name}}" placeholder="{{course.name}}" name="name" id="name">
        </div>
        <div>
            <label for="lecturer">lecturer:</label></td>
            <select name="lecturer" id="lecturer">
                <option value="{{clecturer.id}}">{{clecturer.other_names}} {{clecturer.surname}}</option>
                {% for x in lecturer %}
                <option value="{{ x.id }}" >{{ x.other_names }} {{ x.surname }}</option>
                {% endfor %}
            </select>
            <a href="/{{email}}/createLecturer" target="#"><input type="button" value="Add a Lecturer" id="createlectbtn"></a>
        </div>
        <div>
            <label for="department">department:</label>
            <select name="department" id="department">
                <option value="{{course.department_id}}">{{cdepartment.name}}</option>
                {% for x in departments %}
                <option value="{{ x.id }}">{{ x.name }}</option>
                {% endfor %}
            </select>  
        </div>
        <div>
            <label for="hours">credit hours:</label>
            <input type="number" value="{{course.hours}}" name="hours" min="1" max="10" id="hours">
        </div>
        <!-- <div>
            <label for="is_contiguous_class_time">Continuous class:</label>
            <select name="is_contiguous_class_time" id="is_contiguous_class_time">
                <option value="{{course.is_contiguous_class_time}}">{{course.is_contiguous_class_time}}</option>
                {% for x in bool_List %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div> -->
        <div>
            <label for="has_labs">has lab sessions:</label>
            <select name="has_labs" id="has_labs">
                <option value="{{course.has_labs}}">{{course.has_labs}}</option>
                {% for x in bool_List %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="is_lab_only">course is lab only:</label>
            <select name="is_lab_only" id="department">
                <option value="{{course.is_lab_only}}">{{course.is_lab_only}}</option>
                {% for x in bool_List %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="lab_hours">laboratory hours:</label>
            <input id="lab_hours" value="{{course.lab_hours}}" type="number" min="0" max="10" name="lab_hours">
        </div>
        <div>
            <label for="is_contiguous_lab_time">lab hours need to be contiguous:</label>
            <select name="is_contiguous_lab_time" id="is_contiguous_lab_time">
                <option value="{{course.is_contiguous_lab_time}}">{{course.is_lab_only}}</option>
                {% for x in bool_List %}
                <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="year_group">year group:</label>
            <input id="year_group" value="{{course.year_group}}" type="number" min="1" max="10" name="year_group">
        </div>
        <div>
            <label for="estimated_class_size">Estimated class size:</label>
            <input id="estimated_class_size" value="{{course.estimated_class_size}}" type="number" min="1" max="1000" name="estimated_class_size">
        </div>
        <div>
            <label for="exam_size">Students per classroom in exams:</label>
            <input id="exam_size" value="{{course.exam_size}}" type="number" min="50" max="500" name="exam_size">
        </div>
        <div>
            <input type="submit" id="editcoursebtn" value="submit" formtarget="_parent">
        </div> 
    </form>
</div>
{% endblock %}