{% extends "main.html" %}
{% load static %}
<!DOCTYPE html>
{% block title %}
home
{% endblock %}

{% block content %}

<div class="welcome">
    <h1>Timetabling Made Easy!</h1>
    <p>Create a timetable for your college with ease. Click on the button to begin</p>
    <form method="post" action = "/optionsPage">
      {% csrf_token %}
      <h3>To Begin, please fill the forms below</h3>
      <table>
        <tr>
          <td><label for="college">name of college</label</td>
          <td><input type="text" name="college" id="college" required><br></td>
        </tr>
        <tr>
          <td><label for="depmntCount">number of departments for this college</label></td>
          <td><input type="number" name="depmntCount" id="depmntCount" max="20"><br></td>
        </tr>
      </table>
      <input type="submit" onclick="" value="Get started">      
  </form>
    
</div>
{% endblock %}
