{% extends "main.html" %}
{% load static %}
<!DOCTYPE html>
{% block title %}
home
{% endblock %}

{% block content %}

<div class="welcome">
  <div id="indextop">
    <img src="{% static 'calendar.png' %}" width="300px" height="300px">
    <h1>Timetabling Made Easy!</h1>
    <p>Create a timetable for your college with ease. Click on the button to begin</p>
    <button type="button" onclick="loadForm()" id="formLoader"><strong>Get Started</strong></button>
  </div>
    
    
    <form method="post" id="formindex">
      {% csrf_token %}
      <h3>Sign In</h3>
      <input type="email" name="email" placeholder="email" id="college" required><br>
      <button type="submit" id="getstartedbtn" onclick="">Continue</button> 
      <a href="{% url 'create-account' %}">Create Account</a>    
    </form>
    
</div>
{% endblock %}
