{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<script src="{% static 'functions.js' %}"></script>
<body id="main-body">
    <header id="header">
        <div class="subHead">
            <div class="logo">
                    <img src="{% static 'logo.png' %}" alt="logo" width="50px" height="50px"/>
                <h1>Automatic Timetable Generator</h1>
            </div>
            <nav class="TopNavBar">
                <ul>
                    {% if email %}
                    <li>
                        <button id="email1" type="button" onclick="uPanel()">
                            {{email}}
                        </button>
                        <a  id="user-link" class="user-link" href="/1">logout</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/0">home</a>
                    </li>
                    {% if email %}
                    <li>
                        <a href="{% url 'alllecturers' email %}">lecturers</a>
                    </li>
                    <li>
                        <a href="{% url 'locations' email %}">locations</a>
                    </li>
                    {% if college < 100 %}
                    <li>
                        <a href="{% url 'viewSelected' email college %}">courses</a>
                    </li>
                    <li>
                        <a href="{% url 'colleges' email %}">colleges</a>
                    </li>
                    {% if college.id %}
                    <li>
                        <a href="{% url 'viewSelected' email college.id %}">courses</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'collegeTables' email college %}">timetables</a>
                    </li>
                </ul>
                
                {% endif %}
                {% endif %}
            </nav>
        </div>
        <hr>
    </header>

    <div class="body">

    {% block content %}
    {% endblock %}
    </div>

    <footer id="footer">
        <hr style="float: right; background-color: #0d47a1; height: 10px;">
        
        <div class="BottomNavBar">
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="">team</a>
                </li>
                <li>
                    <a href="">about</a>
                </li>
            </ul>
        </div>
        <p>copyright &copy; 2024</p>
    </footer>
</body>



</html>