{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<script src="{% static 'functions.js' %}"></script>
<body>
    <header id="header">
        <div class="subHead">
            <div class="logo">
                    <img src="{% static 'logo.png' %}" alt="logo" width="50px" height="50px"/>
                <h1>Automatic Timetable Generator</h1>
            </div>
            <nav class="TopNavBar">
                {% if college %}
                <ul>
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="/select/{{college}}/viewselected">courses</a>
                    </li>
                    <li>
                        <a href="/alllecturers">lecturers</a>
                    </li>
                    <li>
                        <a href="">locations</a>
                    </li>
                    <li>
                        <a href="/{{college}}/timetable">timetable</a>
                    </li>
                </ul>
                {% endif %}
                
            </nav>
        </div>
    </header>

    <div class="body">

    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <p>copyright &copy; 2024</p>
        <div class="BottomNavBar">
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="">team</a>
                </li>
                <li>
                    <a href="">about</a>
                </li>
            </ul>
        </div>
    </footer>
</body>



</html>