{% extends 'main.html' %}

{% block title %}
Add a Lecturer
{% endblock %}

{% block content %}
<div class="createlecturer">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="surname">surname</label>
            <input type="text" value="{{currentlect.surname}}" name="surname" id="surname" required>
        </div>
        <div>
            <label for="other_names">other names</label>
            <input type="text" value="{{currentlect.other_names}}" name="other_names" id="other_names">
        </div>
        <div>
            <label for="department">department</label>
            <select name="department" id="department">
                <option value="{{ currentlect.department_id }}">{{ department.name }}</option>
                {% for x in departments %}
                <option value="{{ x.id }}">{{ x.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="telephone">Phone Number</label>
            <input type="text" name="telephone" value="{{currentlect.telephone}}" id="telephone">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" value="{{currentlect.email}}" name="email" id="email">
        </div>
        <div>
            <button type="submit" id="modifylectbtn" value="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}