{% extends 'main.html' %}

{% block title %}
Info
{% endblock %}

{% block content %}
<div class="optionsPage">
    <form method="post" action="{% url 'departments' email college_id %}">
        {% csrf_token %}
        <h3>College of {{college_name}}</h3>
        {% for x in count %}
        <div class="options">
            <label for="department">Department Name</label>
            <input type="text" name="department{{x}}" id="department" required padding = "20px">
            <label for="code">Department Code</label>
            <input type="text" name="code{{x}}" id="code" required padding = "20px">
            <label for="max_yg">Max. Year Group</label>
            <input type="number" name="max_yg{{x}}" id="max_yg{{x}}" min="1" max="20" required>
            <br />
        </div>
        {% endfor %}
        <input type="submit" value="Next" id="optionsbtn"/>
    </form>
</div>

{% endblock %}

