{% extends 'main.html' %}
{% load static %}

{% block title %}
Select
{% endblock %}


{% block content %}

<div class="deptsection">
    <div class="main">
        <h2>{{ department.name }} {{ tp }}</h2>
        <p>Select courses for this Department</p>
        <div class="firstyear">
            <form method="post" action="/select/{{college}}/{{dname}}/{{page}}">
                {% csrf_token %}
                {% for course in course %}
                <input type="checkbox" id="{{ course.code }}" value="{{ course.id }}" name="course{% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" "13" "14" "15" "16" "17" "18" "19" "20" "21" %}">
                <label for="{{ course.code }}">{{course.code}}</label>
                <a href="/editcourse/{{course.code}}" target="_parent"">
                    <button id="editCourse" type="button" value="{{ course.id }}"><img src="{% static 'pencil.png' %}" alt="EditCourse" width="10px" height="10px"></button>
                </a>
                
                {% endfor %}
                <br>
                <a href="/addaCoursePage" target="_blank"><button type="button" id="addCourse" de value="Add A Course">&plus;</button></a>
                <button type="submit" value="post">Next &raquo;</button>
            </form>
            
        </div>
    </div>
</div>


<script>

</script>

{% endblock %}