{% extends "main.html" %}

{% block title %}
Timetable
{% endblock %}

{% block content %}

<div class="timetable_body">
    <div class="leftsection">
        <div class="card" width="300px" height="300px">
           
        </div>
        <div class="card" width="300px" height="300px">
           
        </div>
        <div class="card" width="300px" height="300px">
            
        </div>
        <div class="card" width="300px" height="300px">
            
        </div>
    </div>
    
    <div class="rightsection">
        <div class="timetablebtns">
            <form>
                {% csrf_token %}
                <button id="savetimetable" type="submit">
                    Save
                </button>
                <button type="submit" id="regenerate" formaction="/{{college}}/timetable">
                    Regenerate
                </button>
            </form>
            
        </div>
        {% for group, schedules in scarr.items %}  
        <p><strong style="text-transform: uppercase;">COLLEGE OF {{college}}</strong></p> 
        <p><strong>{% cycle "First Year" "First Year" "First Year" "First Year" "First Year" "Second Year" "Second Year" "Second Year" "Second Year" "Second Year" "Third Year" "Third Year" "Third Year" "Third Year" "Third Year" "Fourth Year" "Fourth Year" "Fourth Year" "Fourth Year" "Fourth Year" %}</strong></p> 
        <p><strong>
            {% cycle "MONDAY" "TUESDAY" "WEDNESDAY" "THURSDAY" "FRIDAY" %}</p>
        </strong>
        <div class="gridcontainer1">
            <div class="ann">
                {% for time in times %}
                <div class="gridtime">
                    <p>{{time}}</p>
                </div>
                {% endfor %}  
            </div>
            
            <div class="gridcontainer2">
                {% for department in departments %}
                <div class="griddept">
                    <p>{{department}}</p>
                </div>
                {% endfor %}  
                {% for schedule in schedules %}
                <div class="griditem">
                    <p>
                        {{schedule.course_code}}<br>
                        {{schedule.location_name}}<br>
                        {{schedule.lecturer_name}}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        <br><br><hr>
        <br><hr>
        {% endfor %}
    </div>
</div>

{% endblock %}