{% extends "main.html" %}

{% block title %}
Timetable
{% endblock %}

{% block content %}

<div class="timetable_body">
    <div class="leftsection">
        <div class="card" width="300px" height="300px">
           
        </div>
        <div class="card" width="300px" height="300px">
           
        </div>
        <div class="card" width="300px" height="300px">
            
        </div>
        <div class="card" width="300px" height="300px">
            
        </div>
    </div>
    <div class="rightsection">
        <table border="1px solid">
            <th>Time</th>
            {% for depmnt in department %}
            <th>{{ depmnt.name }}</th>
            {% endfor %}
            {% for x in arranged %}
            <tr>{{ x.course_code }}</tr>
            {% endfor %}
            
        </table>
    </div>
</div>

{% endblock %}