*{
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 100%;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(#fff,#e3f2fd);
}
header{
    margin: 0;
    max-width: 100%;
    /* background-color:#e3f2fd; */
    background: linear-gradient(#ffebee,#e3f2fd);
    border-bottom: #fff solid 5px;
    position: relative;
    width: 100%;
}
header .subHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .subHead .logo{
    width: 60%;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}
header .subHead .logo img{
    margin: 5px;
    padding-right: 0;
}
header .subHead .logo h1{
    margin-left: 0;
    float: left;
}
header .subHead .TopNavBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
header .subHead .TopNavBar ul li{
    padding: 5px;
}
.body{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 80vh;
}
.body .welcome{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.body .selectcourse ul{
    display: inline-flex;
    justify-content: space-between;
}
.body .deptsection{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}
.body .deptsection .nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
    text-align: center;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#e3f2fd, #ffebee);
}
footer .BottomNavBar ul{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
footer .BottomNavBar ul li{
    padding: 5px;
}


/*For createcourse template*/
.createcourse{
    width: 600px;
    margin: auto;
    padding: 20px;
}
.createcourse table td{
    padding: 10px;
}

.optionsPage .hidden{
    display: none;
}

/*for timetables page*/
.timetable_body{
    display: flex;
    flex-direction: row;
}
.timetable_body .rightsection{
    width: 85%;
}
.rightsection p{
    text-align: center;
}
.ann{
    display: grid;
    grid-template-columns: auto;
}
.gridtime:first-of-type{
    height: 52px;
}
#item1{
    background-color: lightgray;
}
.gridtime{
    border: 1px solid;
    height: 100px;
}
.gridcontainer1{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.gridcontainer2{
    float: right;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(10, auto);
    grid-auto-columns: 50px;
    justify-content: center;
    border-collapse: collapse;
}
.gridcontainer2 .griddept{
    border: solid 1px;
}
.griditem{
    border: 1px solid;
    display: inline-grid;
    height: 100px;
    width: 100%; 
    /* width: -moz-fit-content;
    width: fit-content; */
}
