*{
    box-sizing: border-box;
    font-family: Arial;
    max-width: 100%;
    text-decoration: none;
    list-style: none;
}
input:focus{
    border: #e57373;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    /* background: linear-gradient(#fff,#e3f2fd); */
}
header{
    margin: 0;
    max-width: 100%;
    background-color: #e57373;
    /* background: linear-gradient(#ffebee,#e3f2fd); */
    width: 100%;
    color: #fff;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
}
header .subHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .subHead .logo{
    width: 60%;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}
header .subHead .logo img{
    margin: 5px;
    padding-right: 0;
}
header .subHead .logo h1{
    margin-left: 0;
    float: left;
}
header .subHead .TopNavBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
header .subHead .TopNavBar ul li{
    padding: 5px;
}
.body{
    margin-top: 0;
    min-height: 90vh;
    text-transform: capitalize;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#e3f2fd, #ffebee);
}
footer .BottomNavBar ul{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
footer .BottomNavBar ul li{
    padding: 5px;
}
header ul a, footer ul a{
    text-transform: capitalize;
    color: #fafafa;
}
/*For Index.html */
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    min-height: 90vh;
    /* width: 60%;
    margin: auto; */
}
#indextop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#formindex input{
    border: #eceff1 solid 1px;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    height: 30px;
}
#form input:focus{
    border: #ef5350;
}
#formindex #getstartedbtn{
    margin-left: 240px;
}
#formindex{
    width: 50%;
    margin: auto;
    display: none;
    background-color: #eceff1;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    margin-top: 10px;
    height: 500px;
    color: #ff5252;
}
/*for select courses page*/
.deptsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.deptsection .sidenav{
    width: 15%;
    position: fixed;
    background-color: #eceff1;
    min-height: 90vh;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
.sidenav .subnav{
    padding-top: 10px;
    
}
.sidenav .subnav a{
    color: #424242;
}
.sidenav .subnav ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #fafafa;
    width: 100%;
}
.subnav ul li{
    padding: 5px;
    font-size: 9pt;
}
.subnav ul li button{
    display: inline-flex;
    width: fit-content;
    font-size: 8pt;
}
.deptsection .main{
    padding-left: 5px;
    width: 75%;
    margin-left: 15%;
}
.firstyear form{
    width: 80%;
}
.firstyear form .scourses{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    /* width: 60%; */
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
@keyframes animeCourse {
    0% {background-color: #ef9a9a;}
    25% {background-color: #e57373;}
    50% {background-color: #ef5350;}
    75% {background-color: #e57373;}
    100% {background-color: #ef9a9a;}
}
.firstyear form .selectcourses:hover{
    animation-name: animeCourse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: #e57373;
    color: #fafafa;
    
}
.firstyear form .scourses .inner{
    display: inline-flex;
}
.firstyear form .btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
    width: 60%;
}
.firstyear form .btns #nextbtn{
    width: 100px;
    height: 30px;
    align-self: center;
    color: #ff5252;
    background-color: inherit;
    border-radius: 5px;
    border: #ff5252 solid 1px;
    margin-left: 20px;
}
.span{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#done{
    width: 100px;
    height: 30px;
    align-self: center;
    color: #fafafa;
    background-color: #ff5252;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}
.firstyear form .btns #save{
    width: 100px;
    height: 30px;
    align-self: center;
    color: #ff5252;
    background-color: #ffff;
    border-radius: 5px;
    border: dashed #ff5252 1px;
    margin-left: 20px;
}
.scourses{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 10% 5% 10% 5%;
}
.scourses a{
    border-radius: 10px;
    margin: 10px;
}
.deptsection .main .firstyear .scourses .selectcourses{
    padding: 5px;
    border: solid 1px #ff5252;
    width: max-content;
    height: min-content;
}
.deptsection #book1{
    width: 200px;
    height: 200px;
}
.deptsection .rightnav{
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: #eceff1;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
}
.main .mainhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.rightnav .rightsubnav{
    overflow-y: scroll;
    scrollbar-width: none;
}
.deptsection .rightnav {
    position: fixed;
    right: 0px;
    left: 90%;
}
.deptsection .rightnav .departments{
    padding: 10px;
}
.rightnav .departments a{
    color: #424242;
}
/*For createcourse template*/



/*for timetables page*/
.timetable_body{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.timetable_body .rightsection{
    width: 85%;
    margin: auto;
    background-color: #eceff1;
    border-radius: 10px;
}
.rightsection p{
    text-align: center;
}
.ann{
    display: grid;
    grid-template-columns: auto;
}
.gridtime:first-of-type{
    height: 52px;
}
#item1{
    background-color: lightgray;
}
.gridtime{
    border: 1px solid;
    height: 100px;
    background-color: #fafafa;
}
.gridcontainer1{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    border-collapse: collapse;
}
.gridcontainer2{
    float: right;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(10, auto);
    grid-auto-columns: 1fr;
    column-gap: 0px;
    justify-content: center;
    border-collapse: collapse;
}
.gridcontainer2 .griddept{
    border: solid 1px;
    background-color: #fafafa;
}
.griditem{
    border: 1px solid;
    display: inline-grid;
    height: 100px;
    width: 100%; 
    background-color: #fafafa;
    /* width: -moz-fit-content;
    width: fit-content; */
}
.timetablebtns{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end; 
    position: sticky;
    top: 50px;
    right: 70px;  
}
.timetablebtns #savetimetable{
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
    color: #ff5252;
    border: #ef5350 1px dashed;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 20px;
}

/* fpr viewselected courses */
.viewselected h2{
    text-align: center;
}
.viewselected .top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    gap: 10px;
    margin-top: 10px;
}
.viewselected .top .big{
    width: 1fr;
    min-height: 300px;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 5px;
}
.viewselected #smallertext{
    font-size: 10pt;
    color: #ff5252;
    font-weight: bold;
}
.viewselected .groups{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
}

.viewselected .groups a{
    color: #424242;
    padding: 5px;
    margin: 5px;
}
.viewselected .groups a:hover{
    color: #ff5252;
    border: dashed 1px #e57373;
}
.viewselected #editselected{
    background-color: #ff5252;
    color: #fafafa;
    border: none;
    justify-self: end;
}
.viewselected .bottom{
    position: sticky;
    bottom: 170px;
    right: 15px;
    float: right;
}
.viewselected .bottom button{
    width: 130px;
    height: 30px;
    align-self: center;
    color: #fafafa;
    background-color: #ff5252;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
}

/*for editcourse page */
.editCourse, .createlecturer, .createDepartment, .createcourse{
    width: 80%;
    margin: auto;
}

.editCourse table, .createlecturer table, .createDepartment table,.createcourse table{
    background-color: #eceff1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.editCourse table td, .createcourse table td, .createlecturer table td, .createDepartment table td{
    padding: 10px;
}
 #createcoursebtn, #generate, #editcoursebtn, #regenerate, #formLoader, #deptsbtn, #optionsbtn, #createlectbtn, #createdeptbtn, #getstartedbtn{
    background-color: #ff5252;
    border: none;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    color: #fafafa;
}
#generate:hover, #editcoursebtn:hover, #regenerate:hover, #formLoader:hover, #deptsbtn:hover, #optionsbtn:hover, #createlectbtn:hover, #createdeptbtn:hover, #getstartedbtn:hover{
    background-color: #fff;
    color: #ff5252;
    border: solid 1px #ff5252;
}

/*for options page */
.optionsPage{
    width: 70%;
    margin: auto;
    background-color: #eceff1;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}
.optionsPage .options{
    margin: 10px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.options label{
    padding-top: 10px;
}
.options input{
    max-width: 40%;
    height: 30px;
}
#optionsbtn{
    margin-left: 370px;
}

/* for departments page */
.viewDepartments{
    width: 60%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eceff1;
    margin-top: 30px;
    border-radius: 10px;
}
.departments{
    margin: 20px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 10px;
}
.departments a:hover{
    color: #ef5350;
}
.departments a{
    color: #424242;
}
img:hover{
    opacity: 80%;
}

/* for all lecturers page */
.alllecturers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.alllecturersgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alllecturersgrid .lectdept{
    background-color: #eceff1;
    border-radius: 10px;
    height: 380px;
    padding: 10px;
}
.lectdept .deptdeep{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 5px;
}
.alllecturersgrid .lectdept ul{
    overflow-y: auto;
    scrollbar-width: thin;
    height: 250px;
}
.lectdept ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 10px;
}
.alllecturersgrid a{
    color: #424242;
}
.alllecturersgrid a:hover{
    color: #ff5252;
    font-size: 13pt;
}
.addbtn{
    padding: 50px;
}
.addbtn #adddept{
    width: 50%;
    height: 50%;
    font-size: 30pt;
}
.all{
    display: flex;
    flex-direction: column;
}
.all h2{
    text-align: center;
}
#deletelect:hover, #deletedepartment:hover{
    background-color: #ef5350;
    color: #fafafa;
    border: #e57373;
}

/* for all-locations page */
.all-locations{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.all-locations .some{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.some h2{
    align-self: center;
}
.all-locations .left{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.all-locations .location-grid{
    background-color: #eceff1;
    border-radius: 10px;
    padding: 10px;
}
.all-locations ul li{
    margin: 5px;
    color: #424242;
}
.all-locations .addbtn #add-location{
    width: 50%;
    height: 100%;
    font-size: 30pt;
}
.all-locations .forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#invisible{
    display: none;
    flex-direction: column;
    position: fixed;
    left: 25%;
    top: 12%;
    z-index: 1;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: #eceff1;
    color: #424242;
    padding: 20px;
}
#invisible form div{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    margin: auto;
}
#invisible .btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#invisible #add-locationbtn{
    width: -moz-fit-content;
    width: fit-content;
    background-color: #ff5252;
    color: #fafafa;
    border: #ff5252 solid 1px;
}
#invisible #cancel{
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fafafa;
    color: #ef5350;
    border: #ff5252 dashed 1px;
}